<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    <!-- <http use-expressions="true" >-->
        <!-- intercept-url pattern="/*.jsp" access="permitAll" /-->
    <!--     <intercept-url pattern="/utente/**" access="isAuthenticated()" />-->
<!--         <intercept-url pattern="/**" access="denyAll" /> -->
		<!-- <http-basic />-->
    <!-- </http>-->
    
    <http use-expressions="true">
        <!-- intercept-url pattern="/index.jsp" access="permitAll" /-->
        <intercept-url pattern="/secure/extreme/**" access="hasRole('superadmin')" />
       <!--  <intercept-url pattern="/secure/**" access="denyAll" />-->
       <!--  <intercept-url pattern="/listAccounts.html" access="isAuthenticated()" />-->
       <!--  <intercept-url pattern="/post.html" access="isAuthenticated()" />-->
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <form-login always-use-default-target="true" default-target-url="/home.htm"/>
        <logout />
    </http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="myDataSource" 
			authorities-by-username-query="select username,ruolo from utenti where username=?" 
			users-by-username-query="select username,password,1 as enable from utenti where username=?"
			/>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<beans:property name="url" value="jdbc:mysql://localhost:3306/db_condoni_guidonia"/>
		<beans:property name="username" value="root"/>
		<beans:property name="password" value=""/>
	</beans:bean>
</beans:beans> 

